@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
    font-family: 'Inter-Italic';
    src: url('/src/assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('/src/assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-style: normal;
  }

  @font-face {
    font-family: 'SairaItalic';
    src: url('/src/assets/fonts/Saira-Italic-VariableFont_wdth,wght.ttf') format('truetype');
    font-style: italic;
  }

  @font-face {
    font-family: 'Saira';
    src: url('/src/assets/fonts/Saira-VariableFont_wdth,wght.ttf') format('truetype');
    font-style: normal;
  }




